@use 'vars' as *;

.facts-section {
    h2 {
        text-align: center;
        margin-bottom: 40px;
        font-size: 32px;
    }

    .facts-items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        width: 100%;


    }

    .fact-item {
        background-color: rgba($gray_bg_color, 0.8);
        border-radius: $border_rad_big;
        display: flex;
        flex-direction: column;

        &-img {
            position: relative;
            width: 100%;
            aspect-ratio: 4/3;
            margin-bottom: 20px;

            img {
                border-radius: $border_rad_big $border_rad_big 0 0;
                width: 100%;
                height: 100%;
                max-width: 100%;
                object-fit: cover;
            }
        }

        &-number {
            position: absolute;
            bottom: -18px;
            right: 20px;
            width: 36px;
            height: 36px;
            background-color: $main_color;
            color: #fff;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            font-size: 18px;
        }

        h3 {
            font-size: 24px;
            font-weight: bold;
            color: $black_color;
            margin-bottom: 20px;
            padding: 0 20px;
        }

        p {
            color: $gray_border_color;
            flex-grow: 1;
            padding: 0 20px;
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 820px) {
    .facts-section {

        .facts-items {
            gap:15px;
            grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);

            .fact-item {

                h3 {
                    padding:0 10px;
                    font-size: 18px;
                }
                p {
                    padding:0 10px;
                    font-size: 14px;
                }
            }
        }
    }
}
