@use 'vars' as *;
@use 'standart' as s;

.advantages {
    &_wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    &_item {
        border: 1px solid $main_color;
        padding: 30px;
        display: grid;
        grid-template-columns: 90px 1fr;
        gap: 20px;

        &_icon {
            width: 90px;
            height: 90px;
            img {
                object-fit: contain;
            }
        }
        &:first-child {
            border-bottom-left-radius: 50px;
        }

        &:last-child {
            border-top-right-radius: 50px;
        }
    }

    &_item_text_block {
        h2 {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 15px;
            margin-top: 0;
        }
    }
}

@media (max-width: 820px) {
    .advantages {
        &_wrap {
            grid-template-columns: repeat(2, 1fr);
        }

        &_item {
            &:nth-child(3) {
                grid-column: 1/3;
            }
        }
    }
}

@media (max-width: 520px) {
    .advantages {
        &_wrap {
            grid-template-columns: 1fr;
        }
        &_item {
            &:nth-child(3) {
                grid-column: 1/2;
            }
        }
    }
}
