@use 'vars' as *;

.banner_section {


    .container {
        background-image: url('http://127.0.0.1:8000/img/main_b.svg');
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: 120% 95%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 30px;
    }

    &__left {
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-left: 50px;

        h1 {
            font-family: $head_fonts;
            font-size: 36px;
            color: $black_color;
            margin: 0;
        }

    }

    &__buttons {
        display: flex;
        gap: 15px;
        margin-top: 20px;
    }

    &__right {
        flex: 1;
        border-left: 20px solid $sub_color;
        border-top: 20px solid $sub_color;
        border-top-left-radius: 100px;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
            display: block;
        }


    }
}

// Adaptation
@media (max-width: 1200px) {
    .banner_section {
        .container {
            background-size: 50%;
        }
        &__left {
            width: 45%;
        }
    }
}


@media (max-width: 992px) {
    .banner_section {
        min-height: auto;
        padding: 40px 0;
        .container {
            background-image: none;
            flex-direction: column;
        }
        &__left {
            width: 100%;
            text-align: center;
            align-items: center;
        }
        &__right {
            width: 100%;
            border-radius: 20px;
            border: 10px solid $sub_color;
            border-top-left-radius: 20px;
        }
    }
}

@media (max-width: 768px) {
    .banner_section {
        &__left {
            h1 {
                font-size: 28px;
            }
        }
    }
}
