@use 'vars' as *;

.banner_section {


    .container {
        background-image: url('../img/main_b.svg');
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: 120% 95%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 30px;
        border-radius: $border_rad_big $border_rad_big 0 0;
    }

    &__left {
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-left: 50px;

        h1 {
            font-family: $head_fonts;
            font-size: 36px;
            color: $black_color;
            margin: 0;
        }

    }

    &__buttons {
        display: flex;
        gap: 15px;
        margin-top: 20px;
    }

    &__right {
        flex: 1;
        border-left: 20px solid $sub_color;
        border-top: 20px solid $sub_color;
        border-top-left-radius: 100px;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
            display: block;
        }


    }
}

// Adaptation
@media (max-width: 1200px) {

    .banner_section {
        min-height: auto;
        padding: 20px 0;
        .container {
            background-size: cover;
            flex-direction: column;
        }
        &__left {
            width: unset;
            padding: 30px;
        }
        &__right {
            width: calc(100% - 40px);
            border-right: 20px solid $sub_color;
            // border: 10px solid $sub_color;
            border-top-right-radius: 100px;
            // border: none;
            align-items: center;
        }
    }
}

@media (max-width: 768px) {
    .banner_section {
        .container {
            background-image: none;
            gap:20px
        }

        &__buttons {
            flex-direction: column;
            margin-top: 5px;
            .button {
                text-align: center;
                width: 100%;
                box-sizing: border-box;
            }

        }

        &__right {
            border-top-right-radius: 30px;
            border-top-left-radius: 30px;
            border-top: 10px solid $sub_color;
            border-left: 10px solid $sub_color;
            border-right: 10px solid $sub_color;
        }

        .swiper_control_wrap  {
            padding: 0 10px;
            box-sizing: border-box;
        }

        &__left {
            padding: 0 10px;
            gap: 10px;


            ul {
                li {
                    margin: 5px 0;
                }
            }

            p {
                margin: 0;
            }

            h1 {
                font-size: 28px;
            }
        }
    }
}
