@use 'vars' as *;

.bvi_button {
    margin: auto 0 0 0;
    display: flex!important;

    span {
        margin: auto auto auto 10px;
    }
    svg {
        width:30px;
        height: 30px;
    }

    &:hover {
        color: $main_color;
        svg {
            stroke: $main_color !important;
            fill: $main_color;
        }
    }
}

@media (max-width: 768px) {
    .bvi_button {
         margin: 20px auto 0 0;
     }
 }
