@use 'vars' as *;

.clinic{
    &_top{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        margin-bottom: 30px;
    }
    &_slider_wrap{
        position: relative;
    }
    &_slider_control{
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: white;
        border-top-left-radius: $border_rad;
        padding: 10px 20px;
        .swiper_control_wrap{
            display: flex;
            gap: 10px;
        }
    }
    &_info{
        h2{
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 20px;
        }
        p{
            margin-bottom: 20px;
        }
        hr{
            border: none;
            border-top: 1px solid $main_color;
            margin-bottom: 20px;
        }
    }

    &_bottom{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 30px;
        img{
            border-top-left-radius: $border_rad;
            border-bottom-right-radius: $border_rad;
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}

@media (max-width: 820px) {
    .clinic{
        &_top{
            grid-template-columns: 1fr;
        }
    }
}

@media (max-width: 520px) {
    .clinic{
        &_bottom{
            grid-template-columns: repeat(2, 1fr);
            img:last-child{
                display: none;
            }
        }
    }
}
