@use 'vars' as *;

.clinic {
    &_top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        margin-bottom: 30px;
    }

    &_slider_wrap {
        position: relative;
        overflow: hidden;
        border-top-left-radius: $border_rad_big;

        swiper-container,
        .swiper,
        .swiper-wrapper,
        .swiper-slide {
            width: 100%;
            max-height: 415px;
        }

        .swiper-slide {
            display: flex;
            overflow: hidden;
            justify-content: center;
        }

        .swiper-slide img {
            width: 100%;
            // max-width: 100%;
            height: 100%;
            // display: block;
            object-fit: cover;
            object-position: center;
            margin: auto;
        }
    }

    &_slider_control {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: white;
        border-top-left-radius: $border_rad_big;
        padding: 15px 20px;
        z-index: 1;

        .swiper_control_wrap {
            display: flex;
            gap: 10px;
            margin-top: 0;
        }
    }

    &_info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &.center {
            justify-content: center;
        }

        h2 {
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 20px;
        }

        hr {
            border: none;
            border-top: 1px solid $main_color;
            margin-bottom: 20px;
        }

        .info {
            margin: auto 0;
        }

        .button {
            margin: auto auto 15% 0;
        }
    }

    &_bottom {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 30px;

        img {
            border-top-left-radius: $border_rad;
            border-bottom-right-radius: $border_rad;
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        .clinic_photo_item {
            img {
                width: 100%;
                height: 150px;
                object-fit: cover;
                display: block;
            }
        }

    }
}

@media (max-width: 820px) {
    .clinic {
        &_top {
            grid-template-columns: 1fr;
        }

        &_slider_wrap {
            border-top-right-radius: $border_rad_big;
        }

        &_info {
            .button {
                margin: auto auto auto 0;
            }
        }

        &_bottom {
            grid-template-columns: repeat(2, 1fr);

            .clinic_photo_item:last-child {
                display: none;
            }
        }
    }
}

@media (max-width: 520px) {
    .clinic {
        &_bottom {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;

            &_item {
                img:last-child {
                    display: none;
                }
            }

        }

        &_slider_wrap {

            swiper-container,
            .swiper,
            .swiper-wrapper,
            .swiper-slide {
                max-height: 315px;
                height: 100%;
            }
        }
    }
}