@use 'vars' as *;

.cta {
    &_wrap {
        background-image: url('../img/cta_b.webp');
        background-size: cover;
        background-position: center;
        border-radius: $border_rad_big;
        padding: 0 30px;
        display: grid;
        grid-template-columns: 1fr auto 1fr 1fr;
        align-items: center;
        gap: 30px;
    }

    h2 {
        font-size: 24px;
        font-weight: 700;
    }

    &_decor_block {
        background-image: url('../img/tuf.webp');
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        border: 20px solid white;
        width: 150px;
        height: 150px;
        justify-self: center;
    }

    &_button_block {
        display: flex;
        justify-content: end;
    }

    &_contact_block {
        p{
            margin-bottom: 10px;
        }
        a {
            font-size: 22px;
            font-weight: 700;
            text-decoration: none;
        }
    }
}

@media (max-width: 820px) {
    .cta {
        padding-top: 60px;
        &_wrap {
            grid-template-columns: 1fr;
            text-align: center;
            padding-bottom: 30px;
        }
        &_decor_block{
            grid-row: 1;
            margin-top: -60px;
            width: 100px;
            height: 100px;
            border-width: 10px;
        }

        &_button_block {
            justify-content: center;
        }
    }
}
