@use 'vars' as *;

body{
    font-family: $main_fonts;
    font-size: 16px;
}


h1,
h2,
h3,
h4,
h5 {
    font-family: $head_fonts;
    font-weight: bold;
}

header,
footer,
section{
    width: 100%;
    padding-top: $section_space;
    padding-bottom: $section_space;
}

.container{
    width:100%;
    max-width: $conteiner_max_w;
    margin: 0 auto;
}


img {
    width:100%;
    height:100%;
    object-fit: cover;
}

.map_in_page {
    width:100%;
    min-height: 300px;
}

.thencs_section {
    text-align: center;
    height: 80vh;
    .emoji {
        font-size: 100px;
        margin-top: 20px;
    }
}

.icon_line {
    display: flex;
    color:white;
    gap:10px;

    & > * {
        margin-top: auto;
        margin-bottom: auto;
    }
    .sprite_icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        fill: $main_color;
    }
}

.bg_none {
    background: none !important;
}

.swiper_control_wrap {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
}

.swiper-control {
    width: 32px;
    height: 32px;
    background-color: $sub_color;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: url('../img/icon/arrow.svg');
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: $main_transition;

    &:hover {
        background-color: $hover_color;
    }

    &.swiper-button-next {
        transform: scaleX(-1);
        border-radius: 0 10px 0 10px;

    }

    .swiper-navigation-icon {
        display: none;
    }
}


@media (max-width: 1440px) {
    .container {
        width: 96%;
        margin-left: auto;
        margin-right: auto;
    }
}
