@use 'vars' as *;

.header {
    background-color: $gray_bg_color;
    padding-top: 20px;
    padding-bottom: 20px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__mobile_phone {
        display: none;
        .icon-phone_icon {
            width: 30px;
            height: 30px;
        }
    }

    &__logo {
        flex-shrink: 0;
        img {
            height: 60px;
            width: auto;
        }
    }

    &__address {
        color: $black_color;
        font-family: $main_fonts;
        line-height: 1.4;
    }

    &__phone {
        flex-shrink: 0;
        a {
            font-size: 22px;
            font-weight: bold;
            color: $black_color;
            text-decoration: none;
            transition: $main_transition;

            &:hover {
                color: $hover_color;
            }
        }
    }

    // &__button {
    //     flex-shrink: 0;
    // }
}

// Adaptation
@media (max-width: 992px) {
    .header {
        .container {
            // flex-direction: column;
            align-items: center;
            gap: 25px;
        }

        &__address {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .header {
        min-height: auto;
        &__phone {
            a {
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 520px) {
    .header {
        padding: 10px 0;
        &__logo {
            img {
                height: 40px;
            }
        }
        &__phone {
            display: none;
        }
        &__mobile_phone {
            display: block;
        }
        &__button {
            display: none;
        }
    }
}
