@use 'vars' as *;

.page-header {
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        filter: blur(2px);
        z-index: 1;
    }



    .container {
        position: relative;
        z-index: 1;
        box-sizing: border-box;
        border-radius: $border_rad_big;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: white;
            opacity: 0.8;
            // background-image: url('../img/page_header_bg.webp');
            background-size: cover;
            background-position: center;
            z-index: 2;
        }

        .content {
            position: relative;
            z-index: 3;
            padding: 40px 20px;
            width: 50%;
            // background: linear-gradient(to right, rgba(101, 170, 175, .3), rgba(101, 170, 175, 0));
            background: linear-gradient(to right, rgba(238, 239, 239, .8), rgba(238, 239, 239, 0));
        }
    }

    h1 {
        font-family: $head_fonts;
        font-size: 42px;
        color: #4F3E3A;
        margin: 20px 0 0 0;
        // text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        z-index: 10;
        position: relative;
    }

    .uni_breadcrumbs {
        z-index: 10;
        position: relative;
        .breadcrumbs {
            a, span {
                color: #4F3E3A;
                // text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
            }
        }
    }
}

@media (max-width: 768px) {
    .page-header {
        padding: 40px 0;
        border-radius: $border_rad;

        h1 {
            font-size: 32px;
        }
    }
}

@media (max-width: 480px) {
    .page-header {
        padding: 30px 0;

        h1 {
            font-size: 24px;
        }
    }
}
