@use 'vars' as *;

.personal {
    h2 {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 30px;
    }

    swiper-slide {
        height: 100%;
        display: flex;
    }

    &_card {
        border: 1px solid $main_color;
        border-top-left-radius: 50px;
        overflow: hidden;
        height: auto;
        display: flex;
        flex-direction: column;
        width: 100%;

        &_img {
            height: 410px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &_text {
            padding: 30px;
            flex: 1;
            display: flex;
            flex-direction: column;
            h3 {
                font-size: 22px;
                font-weight: 700;
                color: $main_color;
                margin-bottom: 10px;
            }

            p {
                margin-bottom: 20px;
            }

            .button {
                margin: auto auto 0 0;
            }
        }
    }
    &_slider_control{
        margin-top: 30px;
        display: flex;
        justify-content: flex-end;
    }
}

.specialists_section_in_page {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 2fr));
    gap: 20px;
}


@media (max-width: 520px) {
    .personal {
        &_card {
            &_text {
                padding: 20px;
                h3 {
                    margin-top: 0;
                    font-size: 18px;
                }
            }

            &_img {
                height: 300px;
            }
        }

        &_slider_control{
            margin-top: 0;
            display: flex;
            justify-content: flex-end;
        }
    }

    .specialists_section_in_page {
        grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
        .personal_card {
            border-top-left-radius: $border_rad;

            &_img {
                height: 200px;
            }

            .button {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}
