@use 'vars' as *;

.personal_page_title {
    margin-bottom: 10px;
    margin-top: 0;
}

.personal_page_position {
    margin-bottom: 30px;
    font-size: 1.2rem;
    color: #666;
}

.personal_page_main_content {

    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 30px;
    margin-bottom: 30px;
    margin-top: 30px;

    &_left {
        img {
            width: 100%;
            aspect-ratio: 9/16;
            object-fit: cover;
            border-radius: 10px;
        }
    }

    &_right {
        .personal_page_description {
            margin-bottom: 30px;
        }

        .personal_page_certificates {
            h2 {
                margin-bottom: 20px;
            }

            &_items {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
                gap: 15px;
            }

            &_item {
                display: block;
                border: 1px solid #ddd;
                border-radius: 5px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}


@media (max-width: 480px) {
    .personal_page_main_content {
        grid-template-columns: 1fr;
        &_right {
            order: -1;
        }
    }
}
