@use 'vars' as *;

.price_nav_list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;


    li {
        a {
            border: 1px solid $main_color;
            padding: 10px 20px;
            border-radius: 20px 0 20px 0;
            display: block;
            transition: all .3s ease;

            &:hover {
                background-color: $main_color;
                color: #fff;
            }
        }
    }
}
