@use 'vars' as *;

.services {
    h2 {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 30px;
    }

    &_wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    &_card {
        position: relative;
        display: block;
        overflow: hidden;
        border-radius: $border_rad;

        img {
            width: 100%;
            height: 93%;
            object-fit: cover;
            border-radius: 0 0 $border_rad $border_rad;
            transition: transform .3s ease;
        }

        h3 {
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $sub_color;
            color: $black_color;
            margin: 0;
            padding: 10px 20px;
            border-radius: $border_rad_big 0 $border_rad_big 0;
            border: 10px solid white;
            min-width: 250px;
            text-align: left;

        }
    }
}

@media (max-width: 820px) {
    .services {
        &_wrap {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 520px) {
    .services {
        &_wrap {
            grid-template-columns: 1fr;
            gap:10px;
        }
        &_card{
            h3{
                min-width: auto;
                width: 50%;
            }
        }
    }
}
