@use 'vars' as *;

.sertificates{
    h2{
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 15px;
    }
    p{
        margin-bottom: 30px;
    }
    &_slider_control{
        margin-top: 30px;
        display: flex;
        justify-content: flex-end;
    }
}
