@use 'vars' as *;

.sertificates{
    h2{
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 15px;
    }
    p{
        margin-bottom: 30px;
    }

    swiper-slide {
        display: flex;
        justify-content: center;
        max-height: 310px;
    }

    &_slider_control{
        margin-top: 30px;
        display: flex;
        justify-content: flex-end;
    }
}


@media (max-width: 520px) {
    .sertificates{
        swiper-slide {
            max-height: 180px;
            height: 100%;
        }
    }
}
