@use 'vars' as *;

.services {
    h2 {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 30px;
    }

    &_wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    &_card {
        position: relative;
        display: block;
        overflow: hidden;
        border-radius: $border_rad;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform .3s ease;
        }

        h3 {
            position: absolute;
            bottom: 20px;
            left: 20px;
            background-color: $sub_color;
            color: white;
            padding: 10px 20px;
            border: 10px solid white;
            min-width: 350px;
            text-align: left;
        }
        &:hover{
            img{
                transform: scale(1.1);
            }
        }
    }
}

@media (max-width: 820px) {
    .services {
        &_wrap {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 520px) {
    .services {
        &_wrap {
            grid-template-columns: 1fr;
        }
        &_card{
            h3{
                min-width: auto;
                width: calc(100% - 40px);
            }
        }
    }
}