$main_color: #65AAAF;
$hover_color: #4a8085;
$sub_color: #BCD399;
$black_color: #333;

$gray_bg_color:#EEEFEF;
$gray_border_color:#B4C5C5;

$main_transition: all .5s ease;

$main_fonts:'Roboto', sans-serif;
$head_fonts:'Montserrat', sans-serif;

$border_rad: 10px;
$border_rad_big: 30px;

$section_space: 20px;
$conteiner_max_w: 1280px;

$box_shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
$box_padding: 1.25rem;
$box_border_rad: 6px;
