@use "vars";
@use "null";
@use "fonts";
@use "scroll";
@use "text-styles";
@use "pagination";
@use "burger-icon";
@use "standart";
@use "form/all-form";
@use "elements/all-elements";

@use "cols";
@use "current";

@use "modal";
@use "header";
@use "main_menu";
@use "banner";
@use "page-header";

// Схема с сайдбаром
// @use "sidebar-schem";

// Боковое беню
// @use "menues";

// Иконка бургера
// @use "burger-icon";


@use "cookie";

@use "contacts";
@use "advantages";
@use "cta";
@use "services/services";
@use "services/number-card";
@use "services/image-description-card";
@use "services/title-description-card";
@use "services/steps";
@use "clinic";
@use "personal";
@use "sertificates";
@use "personal-page";
@use "about-team-photo";
@use "about-text";
@use "about-facts";
@use "footer";
@use "price-nav";
@use "price";
@use "bvi-btn";


