@use "vars";
@use "null";
@use "fonts";
@use "scroll";
@use "text-styles";
@use "pagination";
@use "burger-icon";
@use "standart";
@use "form/all-form";
@use "elements/all-elements";

@use "current";

@use "modal";
@use "header";
@use "main_menu";
@use "banner";

// Схема с сайдбаром
// @use "sidebar-schem";

// Боковое беню
// @use "menues";

// Иконка бургера
// @use "burger-icon";


@use "cookie";

@use "advantages";
@use "cta";
@use "services";
@use "clinic";
@use "personal";
@use "sertificates";
@use "footer";


