@use '../vars' as *;

.services-steps {
  .steps-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    align-items: start;

    h2 {
        margin: 0 0 24px 0;
    }
  }

  .steps-layout__right {
    border-radius: $border_rad_big;
    overflow: hidden;

    img {
        width: 100%;
        height: auto;
        display: block;
    }
  }

  .steps-timeline {
    position: relative;
  }

  .steps-timeline::before {
    content: '';
    position: absolute;
    left: 22px;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: $main_color;
  }

  .steps-timeline__item {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .steps-timeline__marker {
    flex: 0 0 auto;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid $main_color;
    background-color: white;
    color: $main_color;
    font-size: 22px;
    font-weight: bold;
  }

  .steps-timeline__text {
    font-size: 22px;
    color: $black_color;
    margin: 0;
  }

  @media (max-width: 820px) {
    .steps-layout { grid-template-columns: 1fr; }
  }
}
