@use '../vars' as *;

details {
    display: flex;
    width:100%;
    display: flex;
    flex-direction: column;

    summary{
        list-style: none;
        box-sizing: border-box;
        width:100%;
        border: 1px solid $gray_border_color;
        padding: 20px  50px 20px 30px;
        background-color: $gray_bg_color;
        border-radius: $border_rad;
        position: relative;

        &::before{
            content: "";
            position: absolute;
            border-radius: 10px;
            width:30px;
            height:30px;
            right: 10px;
            top: calc(50% - 15px);
            background-image: url('../../img/icon/arrow_black.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 15px 15px;
        }
    }

    &[open] summary{
        background-color: $gray_border_color;
    }

    &[open] summary:before{
        content: "";
        transform: rotate(180deg);
    }

}
